services:
  redroid:
    #image: redroid/redroid:14.0.0-latest
    #image: iceblacktea/redroid-arm64:12.0.0-250116
    image: cnflysky/redroid-rk3588:lineage-20
    container_name: redroid
    privileged: true
    restart: unless-stopped
    
    # network_mode: bridge
    ports:
      - "5555:5555"
        #- "50100:50000-50100/udp"
    volumes:
      - ./data:/data
      - /dev/dma_heap:/dev/dma_heap
      - /dev/binderfs:/dev/binderfs
      - /dev/binderfs/binder:/dev/binder
      - /dev/binderfs/hwbinder:/dev/hwbinder
      - /dev/binderfs/vndbinder:/dev/vndbinder
    devices: 
      - /dev/mali0:/dev/mali0
      - /dev/mpp_service:/dev/mpp_service
      - /dev/rga:/dev/rga
    command:
      - androidboot.redroid_gpu_mode=mali

      - androidboot.redroid_width=2560
      - androidboot.redroid_height=1440
      - androidboot.redroid_fps=60
      - ro.build.characteristics=tablet
      #- androidboot.redroid_magisk=1
      - androidboot.use_memfd=true
    networks:
      - redroid-net
  webscreen:
    image: dukihiroi/webscreen:latest
    container_name: webscreen
    privileged: true
    network_mode: "host"


networks:
  redroid-net:
    driver: bridge
